body {
    background-color: #0984e3;
    color: white;

}
header {
    text-align: center;
}

#mobile {
    display: none;
}
#tablet {
    display: none;
}
#desktop {
    display: none;
}
#tv {
    display: none;
}
h1 {
    text-align: center;
    margin-bottom: 0;

    font-family: 'Anton', sans-serif;
    font-size:2em;
}

.container{
    text-align: center;
    margin-top: 3em;
}
button {
    background-color: #74b9ff;
    border-radius: 50%;
    margin: 1em;
    padding: 2em;
    cursor: pointer;
    outline: none;
    box-shadow: 0em 1em 0.5em 0em #636e72;
    border: none;
    transition: all 0.2s ;
    -webkit-tap-highlight-color: transparent;
}
button:hover{
    box-shadow: 0em 1.5em 0.5em 0em #636e72;

}
button:active{
    box-shadow: 0em 1em 1em 0em #636e72;
    transform: translateY(1em);
}

i{
    font-size: 3em;
    color: white;
}
#pfc{
    display: none;
}
#result {
    transition: all 0.5s ;
    font-size: 2em;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    #XS {
        display: none;
    }
    #mobile {
        display: block;
    }
    #tablet {
        display: none;
    }
    #desktop {
        display: none;
    }
    #tv {
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #XS {
        display: none;
    }
    #mobile {
        display: none;
    }
    #tablet {
        display: block;
    }
    #desktop {
        display: none;
    }
    #tv {
        display: none;
    }
    button{
        margin: 3em;
        padding: 4em;

    }
    i{
        font-size: 4em;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #XS {
        display: none;
    }
    #mobile {
        display: none;
    }
    #tablet {
        display: none;
    }
    #desktop {
        display: block;
    }
    #tv {
        display: none;
    }
    button{
        margin: 4em;
        padding: 5em;
    }
    i{
        font-size: 5em;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #XS {
        display: none;
    }
    #mobile {
        display: none;
    }
    #tablet {
        display: none;
    }
    #desktop {
        display: none;
    }
    #tv {
        display: block;
    }
}
